<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs')%>
    <title><%- title%></title>
</head>
<body>

    <main>
        <%- include('partials/navbar.ejs')%>
    </main>

    <section>
        <img style="height: 100vh; width: 100vw;" class="img-fluid" src="img/ravenfield.jpg" alt="">
    </section>

</body>
</html>