<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs')%>
    <title><%- title%></title>
</head>
<body>

    <main>
        <%- include('partials/navbar.ejs')%>
    </main>

    <section>
        <div class="container overflow-hidden text-center">
            <div class="row gy-5">
              <div class="col-6" style="padding: 30px 0 10px 0;">
                <div class="p-3 h2">TÍTULO: Ravenfield<hr>
                    GÉNERO: Acción, Indie, Acceso anticipado<hr>
                    DESARROLLADOR: SteelRaven7<hr>
                    EDITOR: SteelRaven7<hr>
                    FECHA DE LANZAMIENTO: 18 MAY 2017</div>
              </div>
              <div class="col-6 " style="padding: 30px 0 10px 0;">
                <div class="p-3 h2">RECOMENDADO:</div>
              </div>
              
              
            </div>
          </div>
    </section>

</body>
</html>
