<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs')%>
    <title><%- title%></title>
</head>
<body>
    
    <main>
        <%- include('partials/navbar.ejs')%>
    </main>

    <section style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 30px 0 10px 0;" class="img-fluid">
        <h1>Requisitos del Sistema</h1>
        <div class="container overflow-hidden text-center">
            <div class="row gy-5">
              <div class="col-6" style="padding: 30px 0 10px 0;">
                <div class="p-3 h2">MINIMO:</div>
              </div>
              <div class="col-6 " style="padding: 30px 0 10px 0;">
                <div class="p-3 h2">RECOMENDADO:</div>
              </div>
              <div class="col-6" >
                <div class="p-3 h3">SO: Windows 7 SP1<hr>
                    Procesador: 32-bit, 2 GHz or Faster<hr>
                    Memoria: 4 GB de RAM<hr>
                    Gráficos: Intel HD 4000<hr>
                    DirectX: Versión 10<hr>
                    Almacenamiento: 1 GB de espacio disponible</div>
              </div>
              <div class="col-6 h3">
                <div class="p-3">SO: Windows 10 or Newer<hr>
                    Procesador: 64-bit, 3 GHz or Faster<hr>
                    Memoria: 8 GB de RAM<hr>
                    Gráficos: Geforce GTX 750<hr>
                    DirectX: Versión 12<hr>
                    Almacenamiento: 1 GB de espacio disponible</div>
              </div>
            </div>
          </div>
        <!-- <h3> -->
            <!-- 
SO: Windows 7 SP1
Procesador: 32-bit, 2 GHz or Faster
Memoria: 4 GB de RAM
Gráficos: Intel HD 4000
DirectX: Versión 10
Almacenamiento: 1 GB de espacio disponible</h3>
<h3>RECOMENDADO:
SO: Windows 10 or Newer
Procesador: 64-bit, 3 GHz or Faster
Memoria: 8 GB de RAM
Gráficos: Geforce GTX 750
DirectX: Versión 12
Almacenamiento: 1 GB de espacio disponible</h3> -->
        
    </section>

</body>
</html>