<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs')%>
    <title><%- title%></title>
</head>
<body>

    <main>
        <%- include('partials/navbar.ejs')%>
        <section style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 10px 0 10px 0;">
            <img class="img-fluid" src="img/raven.png" alt="">
            <video controls autoplay loop muted class="img-fluid object-fit-contain" src="video/Ravenfield.mp4"></video><br>
            <h3 class="img-fluid" style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 2rem 5rem 3rem 5rem;">¡Lucha en Ravenfield junto con tus aliados azules! ¡Derrota a esos molestos rojos usando helicópteros, tanques, armas y física activa de muñecas de trapo!</h3>
                <h3 style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 1rem 5rem 3rem 5rem;">Ravenfield es un juego para un solo jugador en la línea de los tiradores de IA de equipo contra equipo más antiguos.<hr> El juego está diseñado para que sea fácil de aprender y jugar, ¡pero también gratificante para todos los niveles de habilidad!</h3>
            
        </section>
    </main>

    

</body>
</html>