<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs')%>
    <title><%- title%></title>
</head>
<body>

    <main>
        <%- include('partials/navbar.ejs')%>
    </main>

    <section>
        <h3 class="">¡Lucha en Ravenfield junto con tus aliados azules! ¡Derrota a esos molestos rojos usando helicópteros, tanques, armas y física activa de muñecas de trapo!

            Ravenfield es un juego para un solo jugador en la línea de los tiradores de IA de equipo contra equipo más antiguos. El juego está diseñado para que sea fácil de aprender y jugar, ¡pero también gratificante para todos los niveles de habilidad!</h3>
    </section>

</body>
</html>